@import "settings/colors";
@import "settings/fonts";
@import '~reset.css';
@import 'mixins';

.login {
    @include header;
    margin: 10vh 5vw 0 5vw;
}
.login-form {
    padding: 0;
    margin: 0 auto;
    width: 30%;
    input {
        background: #ddd;
    }
}
.login-inputs {
    @include form;
    background: #ddd;
    width: 100%;
    span {
        display: block;
    }
}
.login-buttons {
    @include buttons;
    margin-top: 1vh;
    justify-content: space-between;
    .login-button {
        @include button;
        font-size: 1em;
    }
}

