@import '~reset.css';
@import "settings/colors";
@import "settings/fonts";

html {
    box-sizing: border-box;
    font-family: $font-base;
    background-color: $background;
    color: $font-darker;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.home {
    margin: 0 auto;
    width: 1024px;
}

.home-login {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

    .login-btn {
        background-color: $background;
        border: none;
        padding: 10px;
        margin-left: 10px;
        color: $font-lighter;
    }

    .login-btn:hover {
        border: $border solid 1px;
    }
}

.home-nav {
    display: flex;
    justify-content: flex-end;

    ul {
        display: flex;

        li {
            padding: 5px;
        }

        a {
            padding: 5px 15px 5px 15px;
        }

        a:hover {
            border: $font-darker solid 1px;
        }
    }
}

.home-wrapper {
    display: flex;
    width: 100%;

    .header-img {
        display: flex;
        width: 30%;

        img {
            width: 100%;


        }

    }


    .headline-wrapper {
        display: flex;
        width: 70%;
        flex-direction: column;
        h1 {
            margin: 20vh 5vw 20vh 5vw;
            font-size: 36px;
            text-align: center;
            letter-spacing: 2px;
            line-height: 40px;
            p {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 10px 2px 10px 2px;
            }
            img {
                display: block;
                width: 50%;
                margin: 10vh auto 0 auto;


            }
        }
        .home-buttons {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-bottom: 10vh;
            .home-btn {
                font-size: 28px;
                margin: 20px 20px;
                padding: 30px 30px;
                border: $font-lighter solid 1px;
                text-transform: uppercase;
                color: $font-lighter;


            }
        }


    }


}
