@import '~reset.css';
@import "settings/colors";
@import "settings/fonts";
@import "login";
@import "register";
@import "logout";

html {
    font-family: $font-base;
    background-color: #fff;
    color: $font-darker;
}

*, *:before, *:after {
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
}

.home {
    margin: 0 auto;
    max-width: 1700px;
}

.home-login {
    margin: 2vh 5vh 0 5vh;
    display: flex;
    justify-content: flex-end;

    .home-login-btn {
        background-color: $background;
        border: none;
        padding: 10px;
        margin-left: 10px;
        color: $font-lighter;
    }

    .home-login-btn:hover {
        border: $border solid 1px;
    }
}

.home-nav {
    margin: 2vh 5vh 0 5vh;
    display: flex;
    justify-content: flex-end;

    ul {
        display: flex;

        li {
            padding: 5px;
            padding-right: 0;
        }

        a {
            padding: 5px 15px 0 15px;
        }

        a:hover {
            border: $font-darker solid 1px;
        }

        li:hover {
            cursor: pointer;
        }
    }
}

.home-wrapper {
    display: flex;
    width: 100%;
}

.home-header-img {
    display: flex;
    width: 50%;
    background-image: url(../assets/assets/Home-Hero-Image.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: right 30%;
}

.home-headline {
   @include header;
    p {
        line-height: 2em;
        font-size: 2rem;
    }
    .home-headline-img {
        width: 15vw;
    }
}

.home-buttons {
    @include buttons;
    width: 20vw;
}

.home-btn {
    @include button;
    margin: 0 5% 5% 0;
    font-size: 0.8em;
}

.home-columns {
    width: 100%;
    background: $colums;
    display: flex;
    margin: 2vh 0;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 5vh;

    .home-column {
        width: 20%;
    }

    .home-col-number {
        font-size: 48px;
        padding: 3vh 0;
    }

    .home-col-headline {
        text-transform: uppercase;
        padding-bottom: 2vh;
    }

    .home-col-content {
        line-height: 1.5em;
    }
}

.home-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0;
}


.home-steps-headline {
   @include header;
}

.home-steps-container {
    width: 100%;
    margin: 5vh 0;
    display: flex;
    background: $background;
    justify-content: space-around;
    color: $font-lighter;
    padding: 5vh 0;
}

.home-step {
    display: flex;
    flex-direction: column;
}

.home-step-icon {
    justify-content: center;
}

.home-step-title {
    text-align: center;
    padding: 1vh 0;
}

.home-step-decoration {
    display: block;
    border-top: 2px solid $font-lighter;
    width: 50%;
    margin: 0 auto;
}

.home-step-content {
    padding: 1vh 0;
}
.home-steps-buttons {
    @include buttons;
}
.home-steps-btn {
    @include button;
}

.home-about {
    display: flex;
    width: 100%;
    margin: 5vh auto;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.home-about-content {
    width: 50%;
    padding: 5vh 5vw;
}

.home-about-wrapper {
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/assets/Signature.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}

.home-headline {
    text-align: center;
    font-size: 2em;
    padding-bottom: 5vh;
}

.home-icon {
    align-items: center;
    width: 40%;
    padding-bottom: 5vh;
}

.home-about-text {
    text-align: center;
    font-size: 1.2em;
    line-height: 2.2em;
    padding-bottom: 8vh;
}

.home-about-img {
    width: 50%;
    overflow: hidden;

    img {
        width: 120%;
    }
}

.home-helping {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vh 20vw;
}

.home-helping-headline {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .home-icon {
        width: 40%;
    }
}

.home-helping-three {
    display: flex;
    padding-bottom: 5vh;

}

.home-helping-three-btn {
    width: 50%;
    margin: 2vh 2vw;
    font-size: 18px;
    background: #fff;
    border: none;
    color: $border;
}

.home-helping-three-btn:hover {
    border: solid 1px $border;
}

.home-helping-content {
    text-align: center;
    line-height: 2em;
}

.home-helping-items {
    display: flex;
    width: 80%;
    flex-direction: column;
    color: $border;
    margin: 5vh auto;
}

.home-helping-item {
    display: flex;
    border-bottom: 1px solid $border;
    align-items: center;
    padding: 1.5vh 0;
}

.home-helping-item-left {
    width: 70%;

    h2 {
        font-size: 1.3em;
        padding-bottom: 1.2vh;
    }

    p {
        font-size: 0.7em;
        font-style: italic;
    }
}

.home-helping-page {
    color: $border;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;

    li {
        padding: 1vh 1vw;
        border: solid 1px $border;
        margin: 0 1vw;
        cursor: pointer;
    }
}

.home-helping-active {
    border: solid 3px $border;
}

.home-footer {
    height: 80vh;
    margin: 5vh auto;

    display: flex;
}

.home-footer-img {
    height: 80vh;
    width: 100%;
    background-image: url(../assets/assets/Background-Contact-Form.jpg);
    background-size: cover;
    opacity: 0.2;

}

.home-footer-wrapper {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: flex-end;
}

.home-footer-content {

    @include form.home-footer-submit {
        border: $border solid 1px;
        padding: 1.3vh 1.8vw;
        background: #fff;
        cursor: pointer;
    }
}

.home-form-line {
    display: flex;
    font-family: $font-at;
    font-weight: 700;
}

.home-form-textarea {

    label {
        display: flex;
        flex-direction: column;
        font-family: $font-at;
        font-weight: 700;
    }

    textarea {
        border: none;
        border-bottom: solid $border 1px;
        padding: 3vh;

    }
}

.form-error {
    margin-top: 1.2vh;
    font-weight: 100;
    color: red;
    font-size: 0.8em;
}

